Keras>=2.4.3
click>=7.1.2
flask>=1.1.2
h5py==2.10.0 # Because of https://github.com/h5py/h5py/issues/1732 and https://github.com/tensorflow/tensorflow/issues/44467 , caused a bug on latest versions even after they were closed
immutabledict>=1.0.0
lru-dict>=1.1.7
more-itertools>=8.7.0
numpy # No version specified because of Tensorflow and MKL shenanigans
requests>=2.25.1
scipy>=1.5.2
tensorflow==2.3.1 # Because of https://github.com/h5py/h5py/issues/1732 and https://github.com/tensorflow/tensorflow/issues/44467 , caused a bug on latest versions even after they were closed